<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head')%>
  <body>
    <%- include('includes/header')%>


    <main>
     <h2>Welcome to the dashboard</h2>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet est eos tempora quam facilis excepturi consequatur illum aliquam nulla qui? Id ullam atque similique numquam animi rem temporibus libero possimus?</p>
    </main>
   <%- include('includes/footer')%>
    <script src="index.js"></script>
  </body>
</html>
